<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>
<body>
    <div>
        <form action="http://localhost:5000/insert" method = "post">
            <label for="username"> Username </label>
            <input minlength="5"  maxlength="15" type="text" id="username" name="username" required>
            <label for="password"> Password </label>
            <input type="password" id="password" name="password" required>
            <label for="email"> Email </label>
            <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" name="email" id="email" required>
            <input type="submit" value="submit">
            {% block content %} 
            <h1> {{books[1]}} </h1>
            {% endblock %} </div>
         </form>   
</body>
</html>